@tailwind base;
@tailwind components;
@tailwind utilities;

/*  .clip-bottom {
   clip-path: polygon(100% 50%, 0 0, 100% 0, 50% 100%, 0 0)
 } */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/*  .drop-area {
   height: 500px;
   width: 700px;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: absolute;
 } */

.drop-area {
}

/* Cuando yo tenga archivos y los coloque por encima del drag area es que se va a activar */
.drop-area.active {
  background-color: rgba(184, 212, 254, 0.3);
  color: black;
  border: 2px solid #618ac9;
  border-radius: 10px;
}

/* NO SE SI SE UTILIZAN DE ACA HACIA ABAJO */
.cloudUploading.active {
  display: block;
}

.driveEmpty.active {
  display: none;
}

/*  .drop-area span {
   font-size: 25px;
   font-weight: 500;
   color: #000;
 } */

.btn {
  padding: 10px 25px;
  font-size: 20px;
  border: 0;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

.btn-upload {
  background-color: #5256ad;
  color: #fff;
}

.btn-send {
  background-color: #1890ff;
  color: #fff;
}

/* FILE CONTAINER -> capa dinamica para cuando subamos un archivo */
.file-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: solid 1px #ddd;
}

#preview {
  margin-top: 10px;
}

.status {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.status-text {
  padding: 0 10px;
}

.success {
  color: #52ad5a;
}

.failure {
  color: #ff0000;
}

/* * ESTILOS PARA LA CARD QUE SE DESPLIEGA DEL CONTEXT MENU */
.cardShadow {
  box-shadow: 2px 2px 5px 2px rgba(204, 204, 204, 0.75);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(204, 204, 204, 0.75);
  -moz-box-shadow: 2px 2px 5px 2px rgba(204, 204, 204, 0.75);
}

/* daspokda */

.zIndex50 {
  z-index: 50;
}

/* DROPDOWN */

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-dropdown {
  animation-name: slideDown;
  animation-duration: 0.2s;
}
